body {
    background-color: $lightBlue;
}

.container {
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 90%;
    background-color: $black;
    @include tablet {
        max-width: 50%;
    };
    @include desktop {
        max-width: 50%;
    };
}

.row1 {
    height: 200px;
    padding-top: $padding;
}

.row2 {
    height: 200px;
    padding-top: $padding;
    padding-bottom: 0px;
}

.row3 {
    height: 200px;
    padding-top: $padding;
}