#playButton {
    height: 50px;
    width: 300px;
    background-color: $white;
    font-family: impact;
    font-size: 20px;
    letter-spacing: 1px;
    color: $black;
    @include phone;
    @include tablet;
    @include desktop;
}